<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".activities.RideDetailForPassengerActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerRideHistoryActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerChatActivity"
            android:parentActivityName=".activities.PassengerInboxActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.RideDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverRideHistoryActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverChatActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverInboxActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverAccountActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverRideHistoryActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverInboxActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerRideHistoryActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerInboxActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerSettingsActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverSettingsActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerAccountActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerRegisterActivity"
            android:exported="false"
            android:parentActivityName=".activities.UserLoginActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.UserLoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver android:name=".receivers.SyncMessagesReceiver" />
        <service android:name=".services.SyncPassengerMessagesService"/>
        <service android:name=".services.SyncDriverMessagesService" />

    </application>

</manifest>