<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <service
            android:name=".service.RideService"/>
        <service
            android:name=".service.PassengerService"/>
        <service
            android:name=".service.CurrentRideService"/>
        <service
            android:name=".service.DriverService"/>
        <service
            android:name=".service.PassengerService"/>
        <service
            android:name=".service.PanicService"/>
        <service
            android:name=".service.UserService"/>

        <activity
            android:name=".activities.RideDetailForPassengerActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerRideHistoryActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerChatActivity"
            android:parentActivityName=".activities.PassengerInboxActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.RideDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverRideHistoryActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverChatActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverInboxActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverAccountActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverRideHistoryActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverInboxActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerRideHistoryActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerInboxActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerSettingsActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerFavouriteRoutesActivity"
            android:parentActivityName=".activities.PassengerMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerReportActivity"
            android:parentActivityName=".activities.PassengerSettingsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".activities.DriverSettingsActivity"
            android:exported="false"
            android:parentActivityName=".activities.DriverMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverStatisticsActivity"
            android:parentActivityName=".activities.DriverMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DriverReportActivity"
            android:parentActivityName=".activities.DriverMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerAccountActivity"
            android:exported="false"
            android:parentActivityName=".activities.PassengerMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PassengerRegisterActivity"
            android:exported="false"
            android:parentActivityName=".activities.UserLoginActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.UserLoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

    </application>

</manifest>